.container-style{
	padding-top: 15px;
	padding-bottom:15px;
    margin-bottom: 50px;
}
.form-style{
    margin-left: -10px;
	margin-right: -10px;
}
.button-style{
	margin-left: 50px;
	margin-top: -14.5px;
}
.mybtn-style{
	margin-left: 45px;
}
