<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.ctms.dao.ApplicationMapper">
    <resultMap id="applicationMap" type="Application">
        <result column="employee_num" property="employeeNum"/>
        <result column="employee_name" property="employeeName"/>
        <result column="dept_id" property="deptId"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="traffic_fee" property="trafficFee"/>
        <result column="deleted_mark" property="deletedMark"/>
        <result column="check_state" property="checkState"/>
    </resultMap>

    <!--提交申请表-->
    <insert id="addApplication" parameterType="Application" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO application (employee_num, employee_name, dept_id,
          start_date, end_date, reason, destination, vehicle,
          traffic_fee,accomodation, deleted_mark, check_state)
        VALUES (#{employeeNum}, #{employeeName}, #{deptId},
          #{startDate}, #{endDate}, #{reason}, #{destination}, #{vehicle},
          #{trafficFee}, #{accomodation}, #{deletedMark}, #{checkState})
    </insert>
    
    <!--删除申请表-->
    <update id="delApplication" parameterType="integer">
        UPDATE application
        SET deleted_mark = 1
        WHERE id = #{id}
    </update>

    <!--修改申请表-->
    <update id="reviseApplication" parameterType="Application">
        UPDATE application
        <set>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="destination != null">
                destination = #{destination},
            </if>
            <if test="vehicle != null">
                vehicle = #{vehicle},
            </if>
            <if test="trafficFee != null">
                traffic_fee = #{trafficFee},
            </if>
            <if test="accomodation != null">
                accomodation = #{accomodation},
            </if>
            <if test="checkState != null">
                check_state = #{checkState}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--根据条件查询申请表-->
    <select id="queryApplication" parameterType="Application" resultMap="applicationMap">
        SELECT *
        FROM application
        <where>
            deleted_mark = 0
            <if test="employeeNum != null">
                AND employee_num = #{employeeNum}
            </if>
            <if test="endDate != null">
                AND end_date &lt;= #{endDate}
            </if>
            <if test="startDate != null">
                AND start_date &gt;= #{startDate}
            </if>
            <if test="checkState != null">
                AND check_state = #{checkState}
            </if>
            <if test="deptId != null">
                AND dept_id = #{deptId}
            </if>
        </where>
    </select>

    <!--显示当前用户所有申请-->
    <select id="listApplication"  resultMap="applicationMap" parameterType="int">
        SELECT *
        FROM application
        WHERE deleted_mark = 0
        AND employee_num = #{employeeNum}
    </select>

    <!--根据Id获取申请表-->
    <select id="getApplicationById" resultMap="applicationMap" parameterType="integer">
        SELECT *
        FROM application
        WHERE id = #{id}
    </select>
</mapper>